

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.card {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    backdrop-filter: blur(6px);
    /* margin-left: -2rem; */
    height: 100%;
}



.search {
    display: flex;
    margin-top: 2rem;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
}

input.search-bar {
    border: none;
    outline: none;
    border-radius: 10px;
    background: hsla(0, 0%, 84%, 0.3);
    color: rgb(192, 192, 192);
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    width: 70vw;
    backdrop-filter: blur(2px);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.search input::placeholder{
    color: rgb(161, 161, 161);
}

.search button {
    background-color: transparent;
    border: none;
}

.search i {
    /* margin: 0px 0 10px -70px; */
    margin: -5px 0 0 -60px;
    /* border-radius: 50%; */
    border: none;
    height: 46px;
    width: 46px;
    background: transparent;
    color: white;
    cursor: pointer;
    position: absolute;
    transition: 0.2s ease-in-out;
}

/* .search button:hover{
    background-color: #7c7c7c6b;
} */



.flex {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    font-size: 20px;
}

.flex img {
    height: 40px;
    width: 40px;
    margin-top: 14px;
}

/* .description{
    text-transform: capitalize;
    display: inline-flex;
} */

.weather {
    text-align: center;
    margin-top: 3rem;
    font-family: 'Quicksand', sans-serif;
}

/* .weather #city{
    position: sticky;
}

.weather .city-bg{
    background-color: rgba(233, 233, 233, 0.2);
    padding: 1rem;
} */

.weather h2 {
    font-weight: 400;
    font-size: 30px;
}

.weather .temp {
    font-size: 50px;
}

.weather .details{
    display: flex;
    justify-content: space-evenly;
}

.weather .humid-container{
    font-size: 22px;
    margin-top: 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.humid-container i {
    margin-right: 1rem;
}

.wind-container {
    font-size: 20px;
    margin-top: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.wind-container i {
    margin-right: 1rem;
}

.airq-container{
    font-size: 20px;
    margin-top: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.airq-container i{
    margin-right: 1rem;
}

.chart-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* .chart-container .chart{
    height: 100px;
} */

.upcoming {
    margin-top: 3rem;
    margin-left: -1rem;
    font-family: 'Quicksand', sans-serif;
    width: 100vw;
    justify-content: center;
}

.upcoming ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

.upcoming ul li {
    display: unset;
    list-style: none;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 8rem;
    border-radius: 10px;
}

.upcoming ul li:nth-child(1) {
    background: rgba(255, 255, 255, 0.1);
}


.upcoming ul li h5 {
    font-size: 28px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.upcoming ul li i {
    font-size: 25px;
}

.upcoming ul li .right-arrow{
    display: none;
}

.airq-progress-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(240, 240, 240,0.1);
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 5px;
    border-radius: 10px;
}

.airq-progress-container h5{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}






@media(max-width: 940px){
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }

    .card{
        overflow-x: hidden;
        white-space: nowrap;
    }
    .upcoming{
        display: flex;
        width: 100vw;
        justify-content: center;
    }

    .upcoming ul{
        flex-direction: column;
        justify-content: center;
        margin-left: 2rem;
    }

    .upcoming ul li{
        display: flex;
        width: 73vw;
        align-items: center;
    }

    .upcoming ul .up-right{
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .upcoming ul li h5 {
        font-size: 24px;
        margin-right: 1rem;
    }

    .upcoming ul li i{
        margin-right: 0.5rem;
    }

    

}

@media(max-width: 560px){

    .weather .details .humid-container{
        flex-direction: column;
        justify-content: center;
    }
    
    .humid-container i{
        margin-right: unset;
        padding-bottom: 1rem;
    }
    
    .weather .details .wind-container{
        flex-direction: column;
        justify-content: center;
    }

    .wind-container i{
        margin-right: unset;
        padding-bottom: 1rem;
    }

    .weather .details .airq-container{
        flex-direction: column;
        justify-content: center;
    }

    .airq-container i{
        margin-right: unset;
        margin-bottom: 1rem;
    }

    .upcoming ul{
        margin-left: unset;
    }

    .upcoming ul li{
        margin-left: -1rem;
        width: 100vw;
        border-radius: 0;
    }

    .upcoming ul li h5{
        font-size: 20px;
        text-align: left;
    }

    .upcoming ul li i{
        font-size: 20px;
        text-align: left;
    }

    .upcoming ul li .desc{
        display: none;
    }
}
